# Byte-compiled / optimized / DLL files
__pycache__/


# Distribution / packaging
*.egg-info/
*.gourmet-plugin
*.mo
/build/
/dist/
gourmet.pot
gourmet.appdata.xml
gourmet.desktop
/development.txt


# Virtual environments
/env/


# Editors
*.swp
.idea/
