include ChangeLog CHANGES CODING FAQ build_rpms.py gourmet.1 gourmet.desktop.in INSTALL.md LICENSE MANIFEST.in README.md README.windows.md TODO TESTS setup.cfg setup.py test_deb.sh test_tarball.sh
include bin/gourmet
recursive-include data *
recursive-include gourmet *.py *.ui *.mk *.mx2 *.mmf *.kreml *.db *.sh *.html *.css *.js *.grmt *.gourmet-plugin.in guiprefs
recursive-include po POTFILES.in *.pot *.po
recursive-include tools *.py
recursive-include ui *.ui
recursive-include windows *.pyw *.nsi *.nsh

