Source: gourmet
Section: unknown
Priority: optional
Maintainer: Thomas Mills Hinkle <Thomas_Hinkle@alumni.brown.edu>
Build-Depends: debhelper (>= 4.0.0), python-dev
Standards-Version: 3.6.0

Package: gourmet
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python (>=2.2), python-gtk2 (>=2.3.92), libmetakit-python, python-imaging, python-glade2
Recommends: python-gnome2
Description: A gtk-based recipe organizer and shopping list generator
 Gourmet Recipe Manager is a gtk-based recipe organizer and shopping list generator
 intended for the GNOME desktop environment (though it does not need all the GNOME libraries).
 Gourmet can import Mealmaster(tm) files and can export recipes in a number of formats, including
 text, RTF and web pages.
