#!/usr/bin/make -f
# -*- makefile -*-

%:
	dh $@ --with python2

override_dh_auto_install:
	dh_auto_install -- --prefix=/usr

override_dh_install:
	dh_install --exclude=LICENSE

override_dh_installchangelogs:
	dh_installchangelogs CHANGES ChangeLog

override_dh_builddeb:
	dh_builddeb -- -Zxz
