html {
    background-color: #ccc
}

body {
    /*font-size: 160%;*/
    font: 160% Georgia, "Times New Roman", Times, serif;
    line-height: 1.6;
    max-width: 40rem;
    margin: 0 auto;
    background-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    font-family: "georgia" serif;
    text-transform: capitalize;
    page-break-after: avoid;
    -webkit-column-span: all;
    /* Chrome, Safari, Opera */
    column-span: all;
    margin-bottom: 0;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 1.2rem;
}

p {
    margin: 0;
    padding: 0;
}
p+p {
    text-indent: 2rem;
    margin: 0;
    padding: 0;
}

div.recipe, div.index {}

article {
    font-size: 1.2rem;
    max-width: 45rem;
    margin: auto;
    padding: 1rem;
    margin-top: 1rem;
}

figure {
    float: left;
    padding: .5rem;
    max-width: 30%;
    height: auto;
}

span.label {
    font-weight: bold;
}


/*INDEX button*/
nav {
    display: inline-block;
    width: auto;
    float: right;
}
nav a {
    font-family: verdana, sans-serif;
    font-size: .8em;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    margin: .5em;
    padding: 0 .3em;
    color: white;
    -webkit-border-radius: .3em;
    -moz-border-radius: .3em;
    border-radius: .3em;
    background-color: rgba(125, 125, 125, 0.5);
}

nav a:visited {
    background-color: rgba(125, 125, 125, 0.5);
}

nav a:hover, nav a:focus {
    background-color: rgba(125, 0, 100, 0.5);
}

header {
    /*display: block;
  width: 100%;
  position: fixed;*/
    z-index: 100;
    padding: 1em;
    background-color: rgba(255, 255, 125, 0.5);
    text-align: left;
}

aside {
    text-align: center;
}
aside table {
  border-collapse: collapse;
  width: auto;
  margin: auto;
  background-color: pink;
}
aside tr, aside td, aside th {
  margin: 0;
  padding: 0;
}
aside td {
    text-align: left;
}

aside th {
    text-align: right;
    padding-right: 1rem;
}


/*INGREDIENTS*/

section.ing {
    /*padding: 1rem;
    margin: .5rem;*/
    border-top: solid 2px;
    border-bottom: solid 2px;
    margin: 1rem 0;
    padding: 1rem 0;
}

.ing li:nth-child(odd) {
    background-color: #eee;
}
.ing li:nth-child(even) {
    background-color: #fff;
}
ul li {
    margin: 0;
    padding: 0;
    text-indent: 0;
}
li.ing {
    list-style: none;
    border-top: 0.3em;
}
ul.ing {
    margin: 0;
    padding: 0;
}

/*SUBGROUP*/
.inggroup {
    font-weight: bold;
    list-style: none;
    text-indent: 2rem;
    background-color: transparent !important;
}
.inggroup .ing {
    font-weight: normal;
}

/*INDEX styles*/

.index tr:nth-child(odd) {
    background-color: #eee;
}
.index table {
  border-collapse: collapse;
  position: relative;
}
.index th {
  position: fixed;
  display: table-cell;
  display: inline-block;
}

/*DEBUG*/

/*figure {
    display: none;
}*/

@media print {
    * {
        color: black;
        background-color: white;
    }
    body {
      font-size: 12pt;
    }
    nav {
        display: none;
    }
    .recipe, .index {
        font-size: 10pt;
        max-width: 100%;
    }
    .ing {
        border: none;
        margin: 0;
        padding: 0;
    }
    figure {
        max-width: 4.5cm;
    }
    a:link:after {
        content: " (" attr(href) ") ";
    }
    .ing li::before {content: "☐ "}
    li.inggroup::before {content: ""}
    .inggroup .ing  li::before {content: "☐ "}
    @page {
        margin: 0.5cm;
    }
}
