body {}
span.label { font-weight: bold; min-width: 10em; display: inline-block;}
div.header p {margin-top: 0; margin-bottom: 0.2em}
ul.ing { padding-left: 0.6em; }
li.ing { list-style: none; border-top: 0.3em }
div.ingamount { display:inline-block; min-width: 3em;}
div.ingunit { display:inline-block; min-width: 3em;}
img { max-width: 45%; display: block; float: right; }
